<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

  <!--internalLogFile="logfile/internal-nlog.txt"-->
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <!--<target xsi:type="File" name="allfile" fileName="logfile/${date:format=yyyyMM}/nlog-all-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger} ${newline}${message} ${exception} ${newline}" />

    <target xsi:type="File" name="ownFile-web" fileName="logfile/${date:format=yyyyMM}/nlog-own-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger} ${newline}${message} ${exception} ${newline} - |url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />-->

    <target xsi:type="Null" name="blackhole" />

    <target xsi:type="Database" name="database">
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        insert into dbo.tdd_ErrorLog ([Level],Date,[IP],Logger,Location,Requesturl,Referrerurl,Action,Message,Exception)
        values (@level,@date,@ip,@logger,@location,@requesturl,@referrerurl,@action,@message,@exception);
      </commandText>
      <parameter name="@level" layout="${level}" />
      <parameter name="@date" layout="${date}" />
      <parameter name="@ip" layout="${aspnet-Request-IP}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@location" layout="${callsite}" />
      <parameter name="@requesturl" layout="${aspnet-request-url}" />
      <parameter name="@referrerurl" layout="${aspnet-request}" />
      <parameter name="@action" layout="${aspnet-mvc-action}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--minlevel 改为Trace 跟踪全部 Error 只捕获异常-->
    <!--<logger name="*" minlevel="Error" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>